<mat-toolbar color="primary">
  <span>AkademiPlan</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/signup" color="accent">Registrieren</button>
</mat-toolbar>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Username Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
          Username ist erforderlich.
        </mat-error>
        <mat-error *ngIf="loginForm.get('username')?.hasError('minlength')">
          Username muss mindestens 3 Zeichen lang sein.
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Passwort</mat-label>
        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="showPassword = !showPassword"
          [attr.aria-label]="'Toggle password visibility'"
        >
          <mat-icon>{{
            showPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Passwort ist erforderlich.
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
          Passwort muss mindestens 6 Zeichen lang sein.
        </mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Absenden
      </button>
    </form>

    <!-- Error Message -->
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
  </mat-card-content>

  <mat-card-actions>
    <p>
      Du hast noch keinen Account?
      <a mat-button routerLink="/signup">Hier geht's zum Registrieren</a>
    </p>
  </mat-card-actions>
</mat-card>
