<div class="login-container">
  <h1>Login</h1>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" placeholder="username" formControlName="username" />
    </div>
    <br />
    <div>
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="password"
        formControlName="password"
      />
      <button type="button" (click)="showPassword = !showPassword">
        {{ showPassword ? "Verstecken" : "Anzeigen" }}
      </button>
    </div>
    <br />
    <button type="submit" [disabled]="loginForm.invalid">Absenden</button>
  </form>
  <div class="error">{{ errorMessage }}</div>
  <p>
    Du hast noch keinen Account?
    <a routerLink="/signup">hier geht's zum Registrieren</a>
  </p>
</div>
