<div class="course-section">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Deine Kurse</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li *ngFor="let course of courses" class="course-item">
          <span>{{ course.name }}</span>
          <span><app-weekly-goals [course]="course"></app-weekly-goals></span>
          <div class="course-actions">
            <button
              mat-icon-button
              color="primary"
              (click)="openEditCourseDialog(course)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteCourse(course.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openAddCourseDialog()">
        Kurs hinzufügen
      </button>
    </mat-card-actions>
  </mat-card>
</div>
