<div class="course-section">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Deine Kurse</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li *ngFor="let course of courses" class="course-item">
          <span>{{ course.name }}</span>
          <span><app-weekly-goals [course]="course"></app-weekly-goals></span>
          <div class="course-actions">
            <button
              mat-icon-button
              color="primary"
              (click)="editCourse(course.id)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteCourse(course.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openCourseForm()">
        Kurs hinzufügen
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Course Form Popup -->
  <div class="course-form-popup" *ngIf="showCourseForm">
    <form [formGroup]="courseForm" (ngSubmit)="addCourseAndReload()">
      <h3>Neuen Kurs hinzufügen</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Kurs Name</mat-label>
        <input matInput type="text" formControlName="courseName" />
        <mat-error *ngIf="courseForm.get('courseName')?.hasError('required')">
          Kurs Name darf nicht leer sein.
        </mat-error>
        <mat-error *ngIf="courseForm.get('courseName')?.hasError('minlength')">
          Kurs Name muss mindestens 3 Zeichen lang sein.
        </mat-error>
      </mat-form-field>
      <div class="form-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="courseForm.invalid"
        >
          Hinzufügen
        </button>
        <button mat-button type="button" (click)="closeCourseForm()">
          Abbrechen
        </button>
      </div>
    </form>
  </div>
</div>
