<div class="course-section">
  <h2>Deine Kurse</h2>
  <hr />
  <ul>
    <li *ngFor="let course of courses">
      {{ course.name }}
      <button (click)="deleteCourse(course.id)">Löschen</button>
      <button (click)="editCourse(course.id)">Bearbeiten</button>
    </li>
  </ul>
  <button (click)="openCourseForm()">Kurs hinzufügen</button>
</div>

<!-- Course Form Popup -->
<div class="course-form-popup" *ngIf="showCourseForm">
  <form [formGroup]="courseForm" (ngSubmit)="addCourseAndReload()">
    <h3>Neuen Kurs hinzufügen</h3>
    <input type="text" placeholder="Kurs Name" formControlName="courseName" />
    <button type="submit" [disabled]="courseForm.invalid">Add</button>
    <button type="button" (click)="closeCourseForm()">Cancel</button>
    <div *ngIf="courseForm.invalid && (courseForm.dirty || courseForm.touched)">
      <div *ngIf="courseForm.get('courseName')!.errors?.['required']">
        Kurs Name darf nicht leer sein.
      </div>
      <div *ngIf="courseForm.get('courseName')!.errors?.['minlength']">
        Kurs Name muss mindestens 3 Zeichen lang sein.
      </div>
    </div>
  </form>
</div>
