<div class="signup-container">
  <h1>Registrieren</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div>
      <input
        type="text"
        placeholder="username (3-20 Zeichen)"
        formControlName="username"
      />
    </div>
    <br />
    <div>
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="password (8-20 Zeichen)"
        formControlName="password"
      />
      <button type="button" (click)="showPassword = !showPassword">
        {{ showPassword ? "Verstecken" : "Anzeigen" }}
      </button>
    </div>
    <br />
    <div>
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="password wiederholen"
        formControlName="confirmPassword"
      />
      <button
        type="button"
        (click)="showConfirmPassword = !showConfirmPassword"
      >
        {{ showConfirmPassword ? "Verstecken" : "Anzeigen" }}
      </button>
    </div>
    <br />
    <button type="submit" [disabled]="signupForm.invalid">Absenden</button>
  </form>
  <div class="error">{{ errorMessage }}</div>
  <p>Already have an account? <a routerLink="/login">Login here</a></p>
</div>
