/* You can add global styles to this file, and also import other style files */
.error {
  color: red;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: rgb(31, 22, 30);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.spacer {
  flex: 1;
}
