@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.card-overrides(
    (
      subtitle-text-color: orange,
      outlined-outline-color: rgb(92, 92, 92),
      outlined-container-color: rgb(31, 22, 30),
    )
  );
}

.studyblock {
  @include mat.card-overrides(
    (
      subtitle-text-color: orange,
      outlined-outline-color: rgb(92, 92, 92),
      outlined-container-color: rgb(22, 23, 31),
    )
  );
}

.timer {
  @include mat.card-overrides(
    (
      container-color: rgb(54, 41, 54),
      outline-color: rgb(219, 219, 219),
    )
  );
}
