.home-title {
  font-size: 2em;
  color: #333;
  text-align: center;
}

.navbar {
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}

.navbar input {
  float: right;
  margin-left: 10px;
}
