<mat-toolbar color="primary" class="navbar">
  <span>AkademiPlan</span>
  <span class="spacer"></span>
  <button mat-button (click)="showCoursesView()">Kurse</button>
  <button mat-button (click)="showCalendarView()">Planner</button>
  <button mat-button (click)="goToProfile()">Profile</button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<div class="home-container">
  <app-streaks></app-streaks>

  <mat-card *ngIf="this.showCalendar" class="home-title-card">
    <mat-card-title>{{ helloMessage }} {{ username }}!</mat-card-title>
  </mat-card>

  <div *ngIf="this.showStudySession">
    <app-studysession
      [studyBlockEvent]="activeStudyBlock!"
      (studyBlockEnded)="endStudyBlock()"
      (sessionCompleted)="sessionCompleted($event)"
    ></app-studysession>
  </div>

  <div *ngIf="this.showCalendar" class="courses-container">
    <app-calendar (studyBlockStarted)="startStudyBlock($event)"></app-calendar>
  </div>

  <div *ngIf="this.showCourse" class="courses-container">
    <app-courses></app-courses>
  </div>
</div>
